* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}